node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache

deployments

yarn-error.log

hardhat.config.js

accounts.json

Flattened.sol

.DS_Store
.deps/
contracts/.DS_Store
remix-compiler.config.js
hardhat.config.js
bot.log
tmp.txt
.env.production
.idea/